<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.markwk.alfred.wordcounter</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>14C9E027-FF6F-4FFE-BA34-2289B1446ACE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>793D40E7-3110-497B-80CB-BEC75CB31A4A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>42FEFBDB-D0AD-478D-84DE-59F0B73D9D1D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA1B0457-0E38-4B8F-BD37-42678C6959A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5593FF1A-AD27-40AB-9609-301A5B0B9848</key>
		<array/>
		<key>793D40E7-3110-497B-80CB-BEC75CB31A4A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA80E3EF-F889-4042-A71C-A9E07992232F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CA1B0457-0E38-4B8F-BD37-42678C6959A4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5593FF1A-AD27-40AB-9609-301A5B0B9848</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DA80E3EF-F889-4042-A71C-A9E07992232F</key>
		<array/>
		<key>E6C8BB36-1FF0-4F0A-B0B8-42969DB1A47F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4CD2943-4E90-4371-9095-899C46D43D62</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E956E050-9FE2-43A0-9F8D-B759F3964F45</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E6C8BB36-1FF0-4F0A-B0B8-42969DB1A47F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Mark Koester</string>
	<key>description</key>
	<string>Stats from Word Counter App</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Word Counter</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>wcount</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>14C9E027-FF6F-4FFE-BA34-2289B1446ACE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>wcount</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please Wait</string>
				<key>script</key>
				<string>/usr/bin/python wordcounter.py {$1}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Word Count Stats and Reports</string>
				<key>title</key>
				<string>Word Counter Stats</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>793D40E7-3110-497B-80CB-BEC75CB31A4A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python wordcounter.py $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DA80E3EF-F889-4042-A71C-A9E07992232F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>wchelp</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please hold...</string>
				<key>script</key>
				<string>/usr/bin/python info.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>View help file and configuration options</string>
				<key>title</key>
				<string>Word Counter Help and Configuration Info</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CA1B0457-0E38-4B8F-BD37-42678C6959A4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>config</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>42FEFBDB-D0AD-478D-84DE-59F0B73D9D1D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python info.py $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5593FF1A-AD27-40AB-9609-301A5B0B9848</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>export</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>E956E050-9FE2-43A0-9F8D-B759F3964F45</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F4CD2943-4E90-4371-9095-899C46D43D62</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>wcexport</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait...</string>
				<key>script</key>
				<string>/usr/bin/python export.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>View Export File</string>
				<key>title</key>
				<string>Word Counter Stats Export</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E6C8BB36-1FF0-4F0A-B0B8-42969DB1A47F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Word Counter App Stats and Export

* View overview stats from today, yesterday and previous days
* Export full stats to CSV. 

Export location: The workflow saves your stats export in ~/Documents/Alfred/wordcounter/ but you can change the path in the Workflow Environment Variables window.</string>
	<key>uidata</key>
	<dict>
		<key>14C9E027-FF6F-4FFE-BA34-2289B1446ACE</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>42FEFBDB-D0AD-478D-84DE-59F0B73D9D1D</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>5593FF1A-AD27-40AB-9609-301A5B0B9848</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>793D40E7-3110-497B-80CB-BEC75CB31A4A</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>CA1B0457-0E38-4B8F-BD37-42678C6959A4</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>DA80E3EF-F889-4042-A71C-A9E07992232F</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>E6C8BB36-1FF0-4F0A-B0B8-42969DB1A47F</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>E956E050-9FE2-43A0-9F8D-B759F3964F45</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>F4CD2943-4E90-4371-9095-899C46D43D62</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>path</key>
		<string>~/Documents/Alfred/wordcounter/</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>www.markwk.com</string>
</dict>
</plist>
